Content:
        Column names & Description
- work_year: The year the salary was paid.
- experience_level: The experience level in the job during the year with the following possible values
    - EN Entry-level
    - MI Junior Mid-level
    - SE Intermediate Senior-level
    - EX Expert Executive-level / Director
- employment_type: The type of employement for the role
    - PT Part-time
    - FT Full-time
    - CT Contract
    - FL Freelance
- job_title: The role worked in during the year.
- salary: The total gross salary amount paid.
- salary_currency: The currency of the salary paid as an ISO 4217 currency code.
- salary_in_usd: The salary in USD (FX rate divided by avg. USD rate for the respective year via fxdata.foorilla.com.
- employee_residence: Employee's primary country of residence in during the work year as an ISO 3166 country code.
- remote_ratio: The overall amount of work done remotely, possible values are as follows
    - 0 No remote work (less than 20%)
    - 50 Partially remote
    - 100 Fully remote (more than 80%)
- company_location: The country of the employer's main office or contracting branch as an ISO 3166 country code.
- company_size: The average number of people that worked for the company during the year
    - S less than 50 employees (small)
    - M 50 to 250 employees (medium)
    - L more than 250 employees (large)

In [1]:
pip install pycountry

Requirement already satisfied: pycountry in /opt/anaconda3/lib/python3.11/site-packages (24.6.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import pycountry        # library to convert country codes


# Load dataset from an online source
url = 'https://raw.githubusercontent.com/AncaAl/Project-3/main/ds_salaries.csv'
df = pd.read_csv(url)

In [3]:
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

#### - convert a two-letter code to a full country name (company_location -> company_location_name)

In [4]:
# Function to convert a two-letter code to a full country name using pycountry

def convert_code_to_name(code):
    try:
        country = pycountry.countries.get(alpha_2=code)     # Lookup the country by alpha_2 code
        return country.name
    except KeyError:
        return code

df['company_location_name'] = df['company_location'].apply(convert_code_to_name)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,company_location_name
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L,Spain
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S,United States
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S,United States
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M,Canada
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L,United States
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L,United States
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S,United States
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L,United States
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L,India

#### Drafts

In [5]:
#df.shape
#round(df.describe(),2)
#df.describe(include="object")
#df.info()
#df.columns
#df.nunique()
#df.work_year.nunique()
#df.work_year.unique()
#df.dtypes
#df.select_dtypes(include='number')
#df.select_dtypes(include='object')
#df.select_dtypes(include='number').max()

In [6]:
list(df.columns)

['work_year',
 'experience_level',
 'employment_type',
 'job_title',
 'salary',
 'salary_currency',
 'salary_in_usd',
 'employee_residence',
 'remote_ratio',
 'company_location',
 'company_size',
 'company_location_name']

In [7]:
df.job_title.nunique()

93

In [8]:
job_title_list = list(df.job_title.unique())
sorted(job_title_list)

['3D Computer Vision Researcher',
 'AI Developer',
 'AI Programmer',
 'AI Scientist',
 'Analytics Engineer',
 'Applied Data Scientist',
 'Applied Machine Learning Engineer',
 'Applied Machine Learning Scientist',
 'Applied Scientist',
 'Autonomous Vehicle Technician',
 'Azure Data Engineer',
 'BI Analyst',
 'BI Data Analyst',
 'BI Data Engineer',
 'BI Developer',
 'Big Data Architect',
 'Big Data Engineer',
 'Business Data Analyst',
 'Business Intelligence Engineer',
 'Cloud Data Architect',
 'Cloud Data Engineer',
 'Cloud Database Engineer',
 'Compliance Data Analyst',
 'Computer Vision Engineer',
 'Computer Vision Software Engineer',
 'Data Analyst',
 'Data Analytics Consultant',
 'Data Analytics Engineer',
 'Data Analytics Lead',
 'Data Analytics Manager',
 'Data Analytics Specialist',
 'Data Architect',
 'Data DevOps Engineer',
 'Data Engineer',
 'Data Infrastructure Engineer',
 'Data Lead',
 'Data Management Specialist',
 'Data Manager',
 'Data Modeler',
 'Data Operations Analyst',
 'Data Operations Engineer',
 'Data Quality Analyst',
 'Data Science Consultant',
 'Data Science Engineer',
 'Data Science Lead',
 'Data Science Manager',
 'Data Science Tech Lead',
 'Data Scientist',
 'Data Scientist Lead',
 'Data Specialist',
 'Data Strategist',
 'Deep Learning Engineer',
 'Deep Learning Researcher',
 'Director of Data Science',
 'ETL Developer',
 'ETL Engineer',
 'Finance Data Analyst',
 'Financial Data Analyst',
 'Head of Data',
 'Head of Data Science',
 'Head of Machine Learning',
 'Insight Analyst',
 'Lead Data Analyst',
 'Lead Data Engineer',
 'Lead Data Scientist',
 'Lead Machine Learning Engineer',
 'ML Engineer',
 'MLOps Engineer',
 'Machine Learning Developer',
 'Machine Learning Engineer',
 'Machine Learning Infrastructure Engineer',
 'Machine Learning Manager',
 'Machine Learning Research Engineer',
 'Machine Learning Researcher',
 'Machine Learning Scientist',
 'Machine Learning Software Engineer',
 'Manager Data Management',
 'Marketing Data Analyst',
 'Marketing Data Engineer',
 'NLP Engineer',
 'Power BI Developer',
 'Principal Data Analyst',
 'Principal Data Architect',
 'Principal Data Engineer',
 'Principal Data Scientist',
 'Principal Machine Learning Engineer',
 'Product Data Analyst',
 'Product Data Scientist',
 'Research Engineer',
 'Research Scientist',
 'Software Data Engineer',
 'Staff Data Analyst',
 'Staff Data Scientist']

In [9]:
import requests
from bs4 import BeautifulSoup

url = "https://www.indeed.com/career/salaries?from=gnav-homepage/salaries"
response = requests.get(url)
response

In [10]:
spans = soup.find_all("span", class_="title")
book_titles = [i.text for i in spans]
book_titles = book_titles[2:]
book_titles

NameError: name 'soup' is not defined